.left-col, .topImage, #footer, #resume a#pdf {
  display: none;
}

#resume {

  .legal, img#mugshot {
    display: block;
  }

  .job, .school, #languages {
    page-break-inside: avoid;

    p {
      margin-bottom: 0px;
    }
  }

  .job.no-print {
    display: none;
  }

  .contact-info {
    .email, .phone, .website {
      margin-top: 25px;
    }
  }

}