.left-col, .topImage, #footer, #resume a#pdf {
  display: none;
}

#resume {

  .legal, img#mugshot, .contact-info .website {
    display: block;
  }

  .job, .school, #languages {
    page-break-inside: avoid;

    p {
      margin-bottom: 0px;
    }
  }

  .job {
    h3 {
      font-style: italic;
      font-weight: bold;
      padding-left: 15px;
    }

    h3, h2 {
      display: inline;
    }
  }

  .job.no-print, #skills, .project.no-print, #projects .talent {
    display: none;
  }

  #hd {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }

  .yui-gf {
    margin-top: 0.75em;
    padding-top: 0.75em;
  }

  a { text-decoration: none; }
  
  .website a { text-decoration:underline; }
}
