.left-col, .topImage, #footer, #resume a#pdf {
  display: none;
}

.legal, #resume img#mugshot {
  display: block;
}

.job, .school {
  page-break-inside: avoid;
}

.contact-info {
  .email, .phone, .website {
    margin-top: 25px;
  }
}