<nav id="flairs">
    <a href="http://www.w3.org/RDF/" title="RDF Resource Description Framework" target='_blank'> 
        <img border="0" src="http://www.w3.org/RDF/icons/rdf_developer_button.48" alt="RDF Resource Description Framework Developer Icon"/>
    </a>

    <a href="http://stackoverflow.com/users/1103498/tomasz-pluskiewicz" target='_blank'>
        <img src="http://stackoverflow.com/users/flair/1103498.png?theme=clean" width="208" height="58" alt="profile for Tomasz Pluskiewicz at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Tomasz Pluskiewicz at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>

    <a href='https://www.openhub.net/accounts/132022?ref=Detailed' target='_blank'>
        <img alt='Open Hub profile for Tomasz Pluskiewicz' border='0' height='35' src='https://www.openhub.net/accounts/132022/widgets/account_detailed.gif' width='230' />
    </a>
</nav>

<nav id="smallFlairs">
    <a href='https://www.openhub.net/accounts/132022?ref=Tiny' target='_blank'>
        <img alt='Open Hub profile for Tomasz Pluskiewicz' border='0' height='15' src='https://www.openhub.net/accounts/132022/widgets/account_tiny.gif' width='80' />
    </a>
</nav>
