---
layout: default
title: Résumé

profile:
  name: Tomasz Pluskiewicz
  jobTitle: Semantic Web Programmer
  identifier: /#tomasz
  photo: /uploads/2014/10/mugshot.png
  email: tomasz (at) pluskiewicz.pl
  phone: +48 608 329 086
  resumeUrl: http://t-code.pl/resume
  description: I strive to excel through constant learning and experimenting with new technologies and by actively taking part in the programming community.
skills:
  - title: Programming
    description: Throughout my career I face many programming challenges through which are opportunities to learn programming patterns.
  - title: Web applications
    description: I have been mostly involved in web projects built with various technologies and design patterns.
  - title: Innovation
    description: With each subsequent project I struggle to introduce fresh ideas and learn on past failures and successes.
technical:
  - C#
  - ASP.NET
  - MVC (NancyFx, Monorail)
  - Test-Driven Development
  - JavaScript
  - T-SQL/MySQL
  - Design Patterns
  - Domain-Driven Design
  - REST
jobs:
  - company: MakoLab S.A.
    title: Semantic Web Programmer
    description: Design and deveopment of an innovative Semantic CMS (NancyFx, AngularJs, REST). Implementation of a custom ORM tool for working with graph RDF data (.NET 4.5, dotNetRDF, Mono Cecil)
    from: 09/2013
    current: true
    print: true
  - company: T+Code
    title: Self-employed
    description: Design, implementation and maintenance of numerous web projects for various clients. (ASP.NET, Castle Monorail, NHibernate, Crystal Reports, JavaScript, MySQL, Windows Server 2008, Visual Studio Lightswitch)
    from: 10/2010
    current: true
    print: false
  - company: Infusion Development Poland
    title: .NET Consultant
    description: Implementing and designing scheduling solution in a SCRUM team. Work on-site at the client. (WPF, WCF, SQL Server, Quartz.NET)
    from: 09/2012
    to: 08/2013
    print: true
  - company: ITeam S.A.
    title: .NET Programmer
    description: Development of .NET web applications in various technologies (ASP.NET 3.5, MVP, Linq to SQL, Silverlight, WCF, Entity Framework)
    from: 05/2011
    to: 08/2012
    print: true
  - company: CodeTeam
    title: .NET programmer
    description: Part time contribution in multiple .NET projects (ASP.NET WebForms, Windows.Forms, SQL Server)
    from: 2007
    to: 2010
    print: false
  - company: Midware technologies
    title: .NET programmer
    description: Implementation of an accounting web application (ASP.NET Web Forms, SQL Server 2005)
    from: 03/2007
    to: 06/2007
    print: false
education:
  - name: Polish school of IT
    course: Advanced database-oriented programming
    from: 10/2008
    to: 04/2009
  - name: Wrocław University of Technology
    course: Master - Computer science, speciality <em>Data Processing Systems Engineering</em>
    from: 2005
    to: 2010
projects:
  - name: Semantic CMS
    when: MakoLab S.A.
    description: Being a research/experimental project this was a great opportunity to work with the Semantic Web and test-drive some fresh design patterns like DDD or CQRS/ES
    technologies:
      - NancyFx (MVC)
      - AngularJS
      - RDF, SPARQL
    print: true
  - name: Romantic Web
    href: http://romanticweb.net
    when: MakoLab S.A.
    description: First complete ORM for RDF for the .NET platform. An offshoot of the Semantic CMS project released on GitHub.
    technologies:
      - Mono Cecil
      - RDF, SPARQL
    print: false
  - name: Scheduling solution
    when: Infusion
    description: Being part of an international team the projects for Credit Suisse taught me much about being part of a dynamic SCRUM environment
    technologies:
      - Quartz.NET
      - WPF
      - SQL Server
    print: true
  - name: r2rml4net
    href: http://r2rml.net
    when: Freelance
    description: A side project I implemented as an open source implementation of the W3C R2RML recommendation
    print: false
  - name: kochamsport.pl - Soccer tournaments for children
    href: http://kochamsport.pl
    when: Freelance
    description: An early project where I learned much about thoroughly managing a project, client interaction and web app design
    technologies:
      - Castle Monorail (MVC)
      - SQL Server / NHibernate
    print: true
languages:
  - language: Polish
    level: native
  - language: English
    level: C2
  - language: German
    level: B1
---

{% include nz.html %}

<section id="resume" vocab="http://schema.org/" typeof="Person" resource="{{ page.profile.identifier }}">
<div id="doc2" class="yui-t7 yui3-cssreset">
  <div id="inner">

    <div id="hd">
      <div class="yui-gc">
        <div class="yui-u first">
          <img property="image" id="mugshot" src="{{ page.profile.photo }}" alt="Portrait"/>
          <h1 property="name">{{ page.profile.name }}</h1>
          <h2 property="jobTitle">{{ page.profile.jobTitle }}</h2>
        </div>

        <div class="yui-u">
          <div class="contact-info">
            <h3><a id="pdf" href="javascript:window.print()">Download/print résumé</a></h3>
            <h3 class="website" property="url">More at <a href="{{ page.profile.resumeUrl }}">{{ page.profile.resumeUrl }}</a></h3>
            <h3 class="email" property="email">{{ page.profile.email }}</h3>
            <h3 class="phone" property="telephone">{{ page.profile.phone }}</h3>
          </div><!--// .contact-info -->
        </div>
      </div><!--// .yui-gc -->
    </div><!--// hd -->

    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Profile</h2>
            </div>
            <div class="yui-u">
              <p class="enlarge">
                {{ page.profile.description }}
              </p>
            </div>
          </div><!--// .yui-gf -->

          <div class="yui-gf" id="skills">
            <div class="yui-u first">
              <h2>Skills</h2>
            </div>
            <div class="yui-u">

              {% for skill in page.skills %}
              <div class="talent">
                <h2>{{ skill.title }}</h2>
                <p>{{ skill.description }}</p>
              </div>

              {% endfor %}
            </div>
          </div><!--// .yui-gf -->

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Technical</h2>
            </div>
            <div class="yui-u">

              {% for tech in page.technical %}
              {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

              {% if modulo == '0' or forloop.first %}
              <ul class="talent">
              {% endif %}

              {% if modulo == '2' %}
                <li class="last">
              {% else %}
                <li>
              {% endif %}

                {{ tech }}</li>

              {% if modulo == '2' or forloop.last %}
              </ul>
              {% endif %}

              {% endfor %}

            </div>
          </div><!--// .yui-gf-->

          <div class="yui-gf">

            <div class="yui-u first">
              <h2>Experience</h2>
            </div><!--// .yui-u -->

            <div class="yui-u" id="jobs">

              {% for job in page.jobs %}

              <div typeof="Organization" class="job{% if job.print == false %} no-print{% endif %}" {% if job.current %}property="worksFor"{%endif%}>
                <h2 property="name">{{ job.company }}</h2>
                <h3>{{ job.title }}</h3>
                <h4>{{ job.from }}-{% if job.to %}{{ job.to }}{% endif %}</h4>
                <p>{{ job.description }}</p>
              </div>

              {% endfor %}
            </div><!--// .yui-u -->
          </div><!--// .yui-gf -->

          <div class="yui-gf">
              <div class="yui-u first">
                  <h2>Projects</h2>
              </div>

              <div class="yui-u" id="projects">

                  {% for project in page.projects %}
                  <div class="project{% if project.print == false %} no-print{% endif %}">
                      <h2>
                          {% if project.href %}<a href="{{ project.href }}" target="_blank">{% endif %}
                          {{ project.name }}
                          {% if project.href %}</a>{% endif %}
                      </h2>
                      <h4>{{ project.when }}</h4>
                      <p>{{ project.description }}</p>

                      {% for tech in project.technologies %}
                      <ul class="talent">
                          <li class="last">{{ tech }}</li>
                      </ul>
                      {% endfor %}
                      <div class="clearfix" ></div>
                  </div>
                  {% endfor %}

              </div>
          </div><!--// .yui-gf -->

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Education</h2>
            </div>

            <div class="yui-u" id="education">

              {% for school in page.education %}
              <div property="alumniOf" typeof="EducationalOrganization" class="school">
                <h2 property="name">{{ school.name }}</h2>
                <h3>{{ school.course }}</h3>
                <h4>{{ school.from }}-{% if school.to %}{{ school.to }}{% endif %}</h4>
               </div>
              {% endfor %}

            </div>
          </div><!--// .yui-gf -->

          <div class="yui-gf" id="languages">
            <div class="yui-u first">
              <h2>Languages</h2>
            </div>

            <div class="yui-u">
              {% for language in page.languages %}
              <div class="language">
                <h2>{{ language.language }}</h2>
                <p>{{ language.level }}</p>
              </div>

              {% endfor %}
            </div>
          </div>

          <div class="yui-gf legal">
            <div class="yui-u first">
              <h2>Legal</h2>
            </div>

            <div class="yui-u">
              <p>I hereby authorize you to process my personal data included in my job application for the needs of the
                recruitment process in accordance with the Personal Data Protection Act dated 29.08.1997 (uniform text:
                Journal of Laws of the Republic of Poland 2002 No 101, item 926 with further amendments).</p>
            </div>
          </div>
        </div><!--// .yui-b -->
      </div><!--// yui-main -->
    </div><!--// bd -->

  </div><!-- // inner -->


</div><!--// doc -->
</section>
