---
layout: personal

profile: Progressively evolve cross-platform ideas before impactful infomediaries. Energistically visualize tactical initiatives before cross-media catalysts for change.
skills:
  - title: Web Design
    description: Assertively exploit wireless initiatives rather than synergistic core competencies.
  - title: Interface Design
    description: Credibly streamline mission-critical value with multifunctional functionalities.
  - title: Project Direction
    description: Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.
technical:
  - C#
  - ASP.NET
  - MVC (NancyFx, Monorail)
  - Test-Driven Development
  - JQuery
  - T-SQL/MySQL
  - Design Patterns
  - Domain-Driven Design
  - REST
jobs:
  - company: MakoLab S.A.
    title: Semantic Web Programmer
    description: Design and deveopment of an innovative Semantic CMS (NancyFx, AngularJs, REST). Implementation of a custom ORM tool for working with graph RDF data (.NET 4.5, dotNetRDF, Mono Cecil)
    from: 09/2013
    current: true
  - company: T+Code
    title: Self-employed
    description: Design, implementation and maintenance of numerous web projects for various clients. (ASP.NET, Castle Monorail, NHibernate, Crystal Reports, JavaScript, MySQL, Windows Server 2008, Visual Studio Lightswitch)
    from: 10/2010
  - company: Infusion Development Poland
    title: .NET Consultant
    description: Implementing and designing scheduling solution in a SCRUM team. Work on-site at the client. (WPF, WCF, SQL Server, Quartz.NET)
    from: 09/2012
    to: 08/2013
  - company: ITeam S.A.
    title: .NET Programmer
    description: Development of .NET web applications in various technologies (ASP.NET 3.5, MVP, Linq to SQL, Silverlight, WCF, Entity Framework)
    from: 05/2011
    to: 08/2012
  - company: CodeTeam
    title: .NET programmer
    description: Part time contribution in multiple .NET projects (ASP.NET WebForms, Windows.Forms, SQL Server)
    from: 2007
    to: 2010
  - company: Midware technologies
    title: .NET programmer
    description: Implementation of an accounting web application (ASP.NET Web Forms, SQL Server 2005)
    from: 03/2007
    to: 06/2007
education:
  - name: Polish school of IT
    course: Advanced database-oriented programming
    from: 10/2008
    to: 04/2009
  - name: Wrocław University of Technology
    course: Master - Computer science, speciality <em>Data Processing Systems Engineering</em>
    from: 2005
    to: 2010
languages:
  - language: Polish
    level: native
  - language: English
    level: C2
  - language: German
    level: B1
---

<section id="resume">
<div id="doc2" class="yui-t7 yui3-cssreset">
  <div id="inner">

    <div id="hd">
      <div class="yui-gc">
        <div class="yui-u first">
          <img id="mugshot" src="/uploads/2014/10/mugshot.png" alt="Portrait"/>
          <h1>Tomasz Pluskiewicz</h1>
          <h2>Semantic Web Programmer</h2>
        </div>

        <div class="yui-u">
          <div class="contact-info">
            <h3><a id="pdf" href="javascript:window.print()">Download CV</a></h3>
            <h3 class="website"><a href="http://t-code.pl">http://t-code.pl</a></h3>
            <h3 class="email">tomasz (at) pluskiewicz.pl</h3>
            <h3 class="phone">+48 608 329 086</h3>
          </div><!--// .contact-info -->
        </div>
      </div><!--// .yui-gc -->
    </div><!--// hd -->

    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Profile</h2>
            </div>
            <div class="yui-u">
              <p class="enlarge">
                {{ page.profile }}
              </p>
            </div>
          </div><!--// .yui-gf -->

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Skills</h2>
            </div>
            <div class="yui-u">

              {% for skill in page.skills %}
              <div class="talent">
                <h2>{{ skill.title }}</h2>
                <p>{{ skill.description }}</p>
              </div>

              {% endfor %}
            </div>
          </div><!--// .yui-gf -->

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Technical</h2>
            </div>
            <div class="yui-u">

              {% for tech in page.technical %}
              {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

              {% if modulo == '0' or forloop.first %}
              <ul class="talent">
              {% endif %}

              {% if modulo == '2' %}
                <li class="last">
              {% else %}
                <li>
              {% endif %}

                {{ tech }}</li>

              {% if modulo == '2' or forloop.last %}
              </ul>
              {% endif %}

              {% endfor %}

            </div>
          </div><!--// .yui-gf-->

          <div class="yui-gf">

            <div class="yui-u first">
              <h2>Experience</h2>
            </div><!--// .yui-u -->

            <div class="yui-u">

              {% for job in page.jobs %}

              <div class="job{% if forloop.last %} last{% endif %}">
                <h2>{{ job.company }}</h2>
                <h3>{{ job.title }}</h3>
                <h4>{{ job.from }}-{% if job.to %}{{ job.to }}{% endif %}</h4>
                <p>{{ job.description }}</p>
              </div>

              {% endfor %}
            </div><!--// .yui-u -->
          </div><!--// .yui-gf -->

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Education</h2>
            </div>

            <div class="yui-u">

              {% for school in page.education %}
              <div class="school{% if forloop.last %} last{% endif %}">
                <h2>{{ school.name }}</h2>
                <h3>{{ school.course }}</h3>
                <h4>{{ school.from }}-{% if school.to %}{{ school.to }}{% endif %}</h4>
               </div>
              {% endfor %}

            </div>
          </div><!--// .yui-gf -->

          <div class="yui-gf">
            <div class="yui-u first">
              <h2>Languages</h2>
            </div>

            <div class="yui-u">
              {% for language in page.languages %}
              <div class="language">
                <h2>{{ language.language }}</h2>
                <p>{{ language.level }}</p>
              </div>

              {% endfor %}
            </div>
          </div>

          <div class="yui-gf last legal">
            <div class="yui-u first">
              <h2>Legal</h2>
            </div>

            <div class="yui-u">
              <p>Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w mojej ofercie pracy dla potrzeb
                niezbędnych do realizacji procesu rekrutacji (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych
                Osobowych; tekst jednolity: Dz. U. z 2002r. Nr 101, poz. 926 ze zm.).</p>
              <br />
              <p>I hereby authorize you to process my personal data included in my job application for the needs of the
                recruitment process in accordance with the Personal Data Protection Act dated 29.08.1997 (uniform text:
                Journal of Laws of the Republic of Poland 2002 No 101, item 926 with further amendments).</p>
            </div>
          </div>
        </div><!--// .yui-b -->
      </div><!--// yui-main -->
    </div><!--// bd -->

    <div id="ft">
    </div><!--// footer -->

  </div><!-- // inner -->


</div><!--// doc -->
</section>
