$maxWidth: 900px;

.container  {
  .mid-col {
    .mid-col-container {
      max-width: 100%;
      padding: 0px 70px 0px 40px;

      #content {
        .archives {
          font-size: 1.5em;

          .title {
            font-size: 1.2em;
            font-weight: 100;
          }

          article {
            margin-left: 100px;
            padding: 10px;

            .meta {
              font-size: 0.9em;
            }
          }
        }

        article {
          padding-top: 30px;
          padding-bottom: 30px;

          .meta {
            font-size: 1.5em;
          }
        }

        .entry-content {
          max-width: $maxWidth;
        }

        #comment {
          max-width: $maxWidth;
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {

  #smallFlairs {
    display: none;
  }
}

@media screen and (min-width: 1040px) {

  #smallFlairs {
    display: none;
  }
}

@media screen and (max-width: 1040px) {

  #flairs {
    display: none;
  }

}
